// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
:root {
  --gutter: 1.5rem;
  --max-width: 1300px;
  --header-height: 105px;
  --header-bg: #fff;
}
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: $clr-navy;
  @extend .text-normal;
  @include custom-scrollbar(5px, $clr-green);
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.fancybox-bg {
  background: rgba(10, 22, 49, 0.64); 
}

.content {
  padding-block: 5rem;
  @include mq(tablet) {
    padding-block: 8rem;
  }
  h1, h2, h3 ,h4, h5, h6, p {
    margin-bottom: 1em;
  }
}

.site-map {
  &__list {
    padding-left: 2rem;
  }
  ul,
  ol {
    padding-left: 2rem;
  }
}

.video-player {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: hp(514, 305);
  border-radius: 1.2rem;
  overflow: hidden;
  &::before {
    @include pseudo-elements;
    background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,.2));
    z-index: 1;
  }
  > img {
    position: absolute;
    inset: 0;
    @include cover-image;
  }
  &__title {
    position: absolute;
    padding: 2.4rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.642293) 39.07%, rgba(0, 0, 0, 0.8) 99.95%);
    color: rgba($clr-white, 0.7);
    font: 400 1.6rem/1.55 $f-text;
    letter-spacing: -0.015em;
    z-index: 2;
  }
  .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}