/**
 * Basic typography style for copy text
 */

h1,
.h1 {
  font: 400 5.5rem/4.4rem $f-heading;
  letter-spacing: -0.03em;
  @include mq(tablet) {
    font-size: 6.5rem;
    line-height: 0.9; 
  }
  @include mq(desktop-wide) {
    font-size: 9rem;
  }
}

h2,
.h2 {
  font: 400 4.5rem/1.05 $f-heading;
  letter-spacing: -0.03em;
  @include mq(tablet) {
    font-size: 5rem;
  }
  @include mq(desktop-wide) {
    font-size: 5.8rem;
  }
}

h3,
.h3 {
  font: 400 4.5rem/1.05 $f-heading;
  letter-spacing: -0.03em;
  @include mq(tablet) {
    font-size: 4.6rem;
    line-height: 1.15;
    letter-spacing: -0.01em;
  }
}

h4,
.h4 {
  font: 400 1.6rem/1.05 $f-heading;
  letter-spacing: -0.03em;
  @include mq(tablet) {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: -0.01em;
  }
  @include mq(desktop-wide) {
    font-size: 2.6rem;
  }
}

h5,
.h5 {
  font: 700 1.2rem/1.5 $f-text;
  letter-spacing: 0.2rem;
  @include mq(tablet) {
    font-size: 1.5rem;
  }
}

h6,
.h6 {
  font: 700 1.6rem/1.5 $f-text;
  @include mq(tablet) {
    font-size: 2rem;
  }
}

.h7 {
  font: 700 1.2rem/1.8 $f-text;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  @include mq(tablet) {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.text-normal {
  font: 400 1.4rem/1.55 $f-text;
  letter-spacing: 0.01em;
  @include mq(tablet) {
    font-size: 1.6rem;
    line-height: 1.7;
  }
}