.archive-banner {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  @include mq(tablet) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .container {
    @include mq(tablet) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__left {
    @include mq(tablet) {
      max-width: 86rem;
    }
  }
  .breadcrumbs {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 1.5rem;
    }
  }
  &__heading {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 3.2rem;
    }
  }
}