.awards {
  &-top {
    @include mq(tablet) {
      display: flex;
      align-items: center;
    }
  }
  &-gallery {
    @include mq(tablet, max) {
      text-align: center;
    }
    @include mq(tablet) {
      display: flex;
      align-items: center;
    }
    img {
      @include mq(tablet, max) {
        margin: 1rem;
        display: inline-block;
      }
      @include mq(tablet) {
        margin: 2rem 2rem 2rem 0;
      }
      @include mq(desktop-wide) {
        margin-right: 4rem;
      }
    }
  }
  &-cta {
    @include mq(tablet, max) {
      margin-top: 2.5rem;
      text-align: center;
    }
  }
  &-bottom {
    margin-top: 3.4rem;
    @include mq(tablet) {
      display: flex;
      margin-top: 6.6rem;
      align-items: center;
      justify-content: space-between;
    }
    @include mq(desktop-wide) {
      padding-inline: 11rem;
    }
  }
  &-left {
    @include mq(tablet) {
      flex: 0 0 50%;
      max-width: 52rem;
    }
  }
  &-right {
    @include mq(tablet) {
      flex: 0 0 50%;
      max-width: 42rem;
    }
  }
  &-heading {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 2.1rem;
    }
  }
  &-content {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      font-size: 2.2rem;
      line-height: 1.3;
    }
  }
  &-desc {
    margin-bottom: 2.4rem;
    color: $clr-black;
    @include mq(tablet) {
      margin-bottom: 2rem;
    }
  }
  &-dropdown {
    .btn-download {
      border: none;
    }
  }
}