.navigation-bar + .awards-grid {
  @include mq(tablet) {
    margin-top: -5rem !important;
  }
}
.awards-grid {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: $clr-navy;
  color: $clr-white;
  text-align: center;
  @include mq(tablet) {
    padding-top: 16.6rem;
    padding-bottom: 12.6rem;
  }
  &__content {
    margin-bottom: 3.2rem;
    @include mq(tablet) {
      margin-bottom: 6.4rem;
    }
  }
  &__images {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 90rem;
    @include mq(tablet) {
      text-align: left;
    }
    img {
      display: inline;
      margin: 1rem;
      max-height: 5rem;
      @include mq(tablet) {
        margin: 2rem;
        max-height: 8rem;
      }
    }
  }
}