.awards-content {
  .container {
    align-items: flex-start;
  }
  &-block {
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    border: 1px solid $clr-border;
    border-radius: 1.2rem;
    @include mq(tablet) {
      padding: 3.2rem;
    }
    &--large {
      padding: 3rem;
      @include mq(tablet) {
        padding: 6.4rem;
      }
    }
    &__heading {
      position: relative;
      h3 {
        padding-left: 4.4rem;
        font: 400 2.4rem/1.05 $f-heading;
      }
      .accordion-header__icon {
        position: absolute;
        content: '';
        top: 50%;
        left: 0rem;
        width: 2.8rem;
        height: 2.8rem;
        background: $clr-white-off;
        border-radius: 50%;
        transform: translateY(-50%);
        &:before,
        &:after {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          width: 1.6rem;
          height: 0;
          border-bottom: 1px solid $clr-green;
          transition: all .3s ease-in-out;
        }
  
        &::before {
          transform: translate(-50%, -50%);
        }
  
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
      &.active .accordion-header__icon {
        &::after {
          transform: translate(-50%, -50%);
        }
      }
      & + .awards-content-block__body {
        margin-top: 3.2rem;
        padding-top: 3.2rem;
        border-top: 1px solid $clr-border;
      }
    }
    &__content {
      @include basic-wysiwig;
      p {
        font: 400 1.6rem/1.55 $f-text;
        letter-spacing: 0.016rem;
      }
    }
    &__blockquote {
      margin-top: 1.6rem;
      padding: 1.6rem;
      border-radius: 1.2rem;
      background: $clr-green-light;
      font: 400 1.6rem/1.7 $f-text;
      font-style: italic;
      @include mq(tablet) {
        margin-top: 3.2rem;
        padding: 3.2rem;
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
  &-heading {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-top: 6.4rem;
    }
  }
}