.banner {
  position: relative;
  padding-block: 2.5rem; 
  @include mq(tablet) {
    padding-block: 0;
  }
  &-background {
    position: absolute;
    right: -15rem;
    bottom: -5rem;
    z-index: -1;
    @include mq(tablet, max) {
      left: calc(100% - 22rem);
    }
  }
  &-media {
    position: relative;
    margin-bottom: 2.4rem;
    width: 100%;
    height: 0;
    padding-top: hp(343, 273);
    border-radius: 1rem;
    @include mq(tablet) {
      margin-right: -7.5rem;
      max-width: 74rem;
      padding-top: 0;
      height: vw(800px);
      @include when-inside(".banner--practice") {
        margin-right: 6rem;
        max-width: 42rem;
        min-height: 55rem;
        height: 100%;
      }
    }
    @include mq(tablet) {
      height: 80rem;
    }
    img,
    video {
      position: absolute;
      inset: 0;
      border-radius: 1rem;
      @include cover-image;
    }
    &__small {
      position: absolute;
      left: calc(100% + 2rem);
      width: 20rem;
      height: 23rem;
      bottom: 0;
      @include mq(tablet, max) {
        display: none;
      }
    }
  }
  &-content {
    @include mq(tablet) {
      margin-right: 5rem;
      max-width: 52rem;
      @include when-inside(".banner--practice") {
        margin-right: 5rem;
        max-width: initial;
      }
    }
    @include mq(tablet-wide) {
      @include when-inside(".banner--practice") {
        margin-right: 15rem;
      }
    }
    @include mq(desktop) {
      margin-right: 13.5rem;
    }
  }
  &-heading {
    margin-bottom: 3.5rem;
    @include when-inside(".banner--practice") {
      font-size: 7rem;
      line-height: 7rem;
      @include mq(tablet, max) {
        font-size: 3rem;
        line-height: 3.6rem;
      }
      @include mq(tablet) {
        margin-bottom: 9rem;
      }
    }
    @include when-inside('.home') {
      @include mq(desktop-wide) {
        font-size: 9rem;
      }
    }
    span {
      color: $clr-green;
    }
  }
  &-copy {
    margin-bottom: 2.4rem;
    color: $clr-black;
    @include mq(tablet) {
      margin-bottom: 5rem;
      max-width: 42rem;
    }
  }
  &-desc {
    margin-top: 1.5rem;
    font: 600 1.2rem/1.6 $f-text;
    font-style: italic;
    color: rgba($clr-navy, 0.6);
    @include mq(tablet) {
      margin-top: 2rem;
      font-size: 1.4rem;
      max-width: 31rem;
      @include when-inside(".banner--practice") {
        margin-left: 20rem;
      }
    }
  }
  &-inner {
    @include mq(tablet) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }
  &--practice {
    @extend .has-decor;
    padding-block: 2.4rem 15rem;
    @include mq(tablet) {
      padding-block: 2.4rem 8rem;
    }
    .banner-inner {
      flex-direction: row;
    }
    .banner-medai {
      max-width: 42rem;
    }
    .btn {
      @include mq(tablet) {
        margin-left: 20rem;
        background-color: $clr-green;
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 5.5rem;
    }
  }
  &-categories {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    @include mq(tablet) {
      margin-bottom: 3rem;
    }
    img {
      margin-right: 2rem;  
      flex-shrink: 0;
    }
  }
  &-subheading {
    font: 700 1.2rem/1.8rem $f-text;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    @include mq(tablet) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }
  &--practice-cards {
    @extend .has-decor;
    padding-block: 2.4rem 15rem;
    background-color: $clr-white-off;
    @include mq(tablet) {
      padding-block: 2.4rem 8rem;
    }
    .banner-inner {
      @include mq(tablet) {
        flex-direction: row;
      }
    }
    .banner-content {
      margin-right: 0;
    }
    .contact-form__cards {
      @include mq(tablet) {
        margin-right: 6rem;
        margin-bottom: 0;
        max-width: 42.5rem;
      }
      &__item {
        background-color: $clr-white;
        height: 27rem;
        @include mq(tablet) {
          padding: 3.8rem 8.5px;
          width: calc(50% - 1rem);
        }
      }
    }
  }
}