.cards-slider {
  position: relative;
  margin-block: 4rem;
  @include mq(tablet) {
    margin-bottom: 15rem;
  }
  &__carousel {
    position: relative;
    @include mq(tablet, max) {
      padding-inline: 1.5rem;
      @include when-inside('.cards-slider--compact') {
        padding-right: 0;
      }
    }
    @include mq(tablet) {
      &:not(.slick-slider) {
        display: flex;
      }
      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 0;
        width: 24rem;
        height: 100%;
        backdrop-filter: blur(2px);
        z-index: 1;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
  &__slide {
    display: block;
    padding: 2rem;
    height: inherit;
    background-color: $clr-navy;
    border: 1px solid $clr-border;
    color: $clr-white;
    border-radius: 1rem;
    text-align: center;
    transition: all .3s esae-in-out;
    @include mq(tablet) {
      display: flex !important;
      padding: 7rem 2rem;
      margin-inline: 0.5rem;
      min-width: 24rem;
      align-items: center;
      flex-direction: column;
    }
    @include when-inside('.cards-slider--compact') {
      @include mq(tablet, max) {
        padding: 1.6rem;
        margin-right: 1.2rem;
      }
    }
    @include when-inside('.cards-slider--full') {
      padding: 2.8rem 2.3rem;
      background-color: $clr-white;
      color: $clr-navy;
      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }
      @include mq(tablet) {
        padding: 7rem 3rem;
        width: 31rem;
      }
      &:hover {
        .cards-slider__slide__heading {
          color: $clr-white;
        }
      }
    }
    @include when-inside('.cards-slider--full:not(.is-show)') {
      @include mq(tablet, max) {
        &:nth-child(n+5) {
          display: none;
        }
      }
    }
    &:hover {
      background-color: $clr-white;
      color: $clr-navy;
      .cards-slider__slide__subheading,
      .cards-slider__slide__cta {
        color: $clr-navy
      }
      @include when-inside('.cards-slider--full') {
        background-color: $clr-navy;
        color: $clr-white;
        .cards-slider__slide__subheading,
        .cards-slider__slide__cta {
          color: $clr-white
        }
      }
    }
    &__icon {
      margin: 0 auto 2.3rem;
      @include when-inside('.cards-slider--compact') {
        @include mq(tablet, max) {
          display: none;
        }
      }
      @include when-inside('.cards-slider--full') {
        margin-bottom: 2rem;
      }
    }
    &__subheading {
      margin-bottom: 2.3rem;
      font: 700 1.2rem/1.8rem $f-text;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $clr-white;
      transition: color .3s ease-in-out;
      @include mq(tablet) {
        margin-bottom: 1rem;
      }
      @include when-inside('.cards-slider--compact') {
        @include mq(tablet, max) {
          margin-bottom: 1rem;
        }
      }
      @include when-inside('.cards-slider--full') {
        margin-bottom: 2.8rem;
        color: $clr-navy;
      }
    }
    &__heading {
      margin-bottom: 1.2rem;
      font: 400 4rem/3.8rem $f-heading;
      letter-spacing: -0.04em;
      color: $clr-green;
      @include mq(tablet) {
        margin-bottom: 1rem;
        font-size: 6.9rem;
        line-height: 6.555rem;
      }
      @include when-inside('.cards-slider--full') {
        font-size: 2.8rem;
        line-height: 0.95;
        color: $clr-navy;
        @include mq(tablet) {
          font-size: 3.8rem;
          line-height: 1;
        }
      }
    }
    &__content {
      margin-bottom: 1.5rem;
      font: 800 1.2rem/1.8rem $f-text;
      @include when-inside('.cards-slider--compact') {
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }
      @include when-inside('.cards-slider--full') {
        opacity: 1;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.6;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__cta {
      margin-top: auto;
    }
  }
  &__showmore {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 3rem;
    width: 100%;
    height: 25.6rem;
    background: linear-gradient(360deg, #FFFFFF 27.87%, rgba(255, 255, 255, 0) 93.1%);
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    .btn-show-more {
      appearance: none;
      border: none;
      background-color: transparent;
      outline: none;
      font: 700 1.2rem/1.8rem $f-text;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: $clr-green;
    }
  }
  .slick-track {
    display: flex;
  }
  &__subheading {
    margin-top: 1.6rem;
    font: 600 1rem/1.6 $f-text;
    @include mq(tablet) {
      margin-top: 2rem;
      text-align: right;
      font-size: 1.6rem;
    }
  }
}