.case-results-alt {
  padding-block: 3.2rem;
  @include mq(tablet) {
    padding-block: 6.4rem;
  }
  &__heading {
    margin-bottom: 2rem;
    @include mq(tablet) {
      margin-bottom: 4rem;
    } 
  }
  &__grid {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 8px;
    }
  }
  .cpt-load-more {
    margin-top: 3.6rem;
    text-align: center;
    @include mq(tablet) {
      margin-top: 5rem;
    }
    @include mq(desktop-wide) {
      margin-top: 7.2rem;
    }
  }
  .lds-wrapper {
    grid-column: span 2;
    @include mq(tablet) {
      grid-column: span 4;
    }
  }
}