.contact-form {
  margin-block: 5rem;

  &--border {
    .container {
      @include mq(tablet) {
        align-items: flex-start;
      }
    }
  }
  .container {
    display: flex;
    @include mq(tablet) {
      justify-content: space-between;
    }
    @include mq(tablet, max) {
      flex-direction: column;
    }
  }

  &__main {
    @include mq(tablet) {
      margin-right: 2rem;
      max-width: calc(100% - 40rem);
    }
    @include when-inside('.contact-form--border') {
      padding: 3.2rem;
      border-radius: 1.2rem;
      @include mq(tablet) {
        padding: 6.4rem;
        border: 1px solid $clr-border;
      }
    }
  }

  &__cards {
    display: flex;
    align-items: stretch;
    margin-bottom: 8rem;
    flex-wrap: wrap;
    gap: 2rem;

    @include mq(tablet, max) {
      gap: 8px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3.7rem 2.5rem;
      height: 30rem;
      width: calc((100% - 60px) / 4);
      border-radius: 1rem;
      border: 1px solid $clr-light-gray;
      cursor: pointer;

      @include mq(desktop, max) {
        width: calc((100% - 2rem) / 2);
      }

      @include mq(tablet, max) {
        padding: 2.4rem 0.8rem;
        height: 24rem;
      }

      &__rating {
        margin-top: 1.6rem;
        line-height: 0;
      }

      &:hover {
        .link:after {
          transform: translate(5px, -50%);
        }
      }

      &.review {
        .item-eyebrow {
          opacity: 0.6;
        }

        .item-sub_title {
          opacity: 0.6;
        }
      }

      .item {
        &-eyebrow {
          margin-bottom: auto;
          color: $clr-navy;
          font-size: 1.2rem;
          text-align: center;
          text-transform: uppercase;
        }

        &-award {
          max-width: 9.3rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-badge {
          margin-bottom: auto;
          text-align: center;
          text-transform: uppercase;
        }

        &-sub_title {
          font-size: 1.2rem;
          text-transform: uppercase;
        }

        &-content {
          margin-bottom: 1rem;
          line-height: 8rem;
          font-family: $f-heading;
          font-weight: 400;
          font-size: 6rem;

          @include mq(tablet, max) {
            font-size: 4.2rem;
            line-height: 5.2rem;
          }
          ul, ol {
            clear: both;
          }
        }
      }

      &__cta {
        margin-top: auto;
      }
    }
  }

  &__content {
    &__sub_heading {
      margin-bottom: 3rem;

      @include mq(tablet, max) {
        margin-bottom: 2.4rem;
      }
    }

    &__heading {
      margin-bottom: 3rem;

      @include mq(tablet, max) {
        margin-bottom: 2.4rem;
      }
    }

    &__content {
      @include base-typography();

      h5 {
        font-weight: 400;
        font-family: $f-text;
        font-size: 2.2rem;
        line-height: 3.5rem;
        color: $clr-black;
        letter-spacing: 0;

        @include mq(tablet, max) {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
      }
      hr {
        margin-block: 2rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 3.2rem;
    background-color: $clr-navy;
    border-radius: 1rem;

    @include mq(tablet) {
      padding: 6rem 3.2rem;
      max-width: 38rem;
      min-width: 30rem;
    }

    @include mq(tablet, max) {
      margin-top: 8rem;
    }

    &__sub_heading {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: $clr-green;
    }

    &__heading {
      margin-bottom: 1rem;
      color: $clr-white-off;
      font-family: $f-text;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.3rem;
      text-align: center;
      
      @include mq(tablet) {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
    }

    &__content {
      margin-bottom: 2rem;
      color: $clr-white-off;
      text-align: center;
    }

    &__logo {
      margin-top: auto;
    }

    &__form {
      margin-bottom: 1.6rem;
    }
  }
  .rplg-reviews {
    .slick-track {
      display: flex;
    }
  }
  .rplg-review {
    margin: 0 1rem 0;
    height: inherit;
  }
  .testimonial-slider__item {
    display: flex;
    padding: 3.2rem;
    background-color: #17233D;
    border: 1px solid #050D1F; 
    flex-direction: column;
    justify-content: space-between;
    &__content {
      margin-bottom: 2rem;
      font: 400 16px/1.6 'Open Sans', sans-serif;
      color: #fff;
      opacity: 0.8;
      @include max-line(8);
    }
    &__info {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 2rem;
    }
    &__name {
      margin-bottom: 0;
      font: 600 1.6rem/1 'Open Sans', sans-serif;
      color: #fff;
    }
  }
  .contact-form__content__content .rplg-stars {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  .contact-form__content__content .rplg-stars svg {
    margin-bottom: 0;
  }
}