.contact + .awards {
  margin-top: 5rem;
  margin-bottom: 5rem;
  @include mq(tablet) {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  @include mq(desktop-wide) {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
}
.contact {
  @include mq(tablet, max) {
    padding: 4rem 2rem 0;
    background-color: $clr-white-off;
  }
  @include mq(tablet) {
    display: flex;
  }
  &-left {
    @include mq(tablet) {
      background-color: $clr-white-off;
      padding: 10.5rem var(--gutter) 6.5rem var(--gutter);
      max-width: vw(900px);
    }
    @media only screen and (min-width: 1301px) {
      padding-left: calc(((100vw - 130rem) / 2 + var(--gutter)));
      padding-right: vw(110px);
    }
    @include mq(desktop) {
      padding-right: 11rem;
    }
    .contact-form__form {
      display: none;
    }
  }
  .breadcrumbs {
    margin-bottom: 1.5rem;
  }
  &-heading {
    margin-bottom: 3.2rem;
    span {
      color: $clr-green;
    }
  }
  &-content {
    margin-bottom: 2.4rem;
    @include basic-wysiwig();
    color: $clr-black;
    @include mq(tablet) {
      margin-bottom: 6.4rem;
    }
  }
  &-faqs {
    padding: 3rem;
    background-color: $clr-white;
    border: 1px solid $clr-border;
    border-radius: 1.2rem;
    @include mq(desktop) {
      padding: 6.4rem;
    }
    &__heading {
      margin-bottom: 3.2rem;
    }
    &__bottom {
      display: flex;
      margin-top: 3.2rem;
      padding-top: 3.2rem;
      border-top: 2px solid $clr-green;
      align-items: center;
      justify-content: space-between;
    }
    &__desc {
      font: 600 1.4rem/1.7 $f-text;
    }
    &__cta {
      margin-left: 2rem;
      flex-shrink: 0;
    }
  }
  &-faq {
    border-top: 1px solid $clr-border;
    &__question {
      position: relative;
      padding: 1.6rem 4rem 1.6rem 0;
      font-weight: 700;
      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        width: 1.6rem;
        height: 0;
        border: 1px solid $clr-green;
        transform: translateY(-50%);
        transition: transform .3s ease-in-out;
        will-change: transform;
      }
      &::after {
        transform: translateY(-50%) rotate(90deg);
      }
      &.active::after {
        transform: translateY(-50%);
      }
    }
  }
  &-right {
    @include mq(tablet) {
      padding: 3.5rem var(--gutter) 3.5rem var(--gutter);
      flex-grow: 1;
    }
    @media only screen and (min-width: 1301px) {
      padding-left: vw(110px);
      padding-right: calc(((100vw - 130rem) / 2 + var(--gutter)));
    }
    @include mq(desktop) {
      padding-left: 11rem;
    }
  }
  &-cta {
    display: block;
    margin-bottom: 5rem;
    padding: 3.2rem;
    background-color: $clr-green-light;
    border-radius: 1rem;
    @include mq(desktop) {
      padding: 6.4rem 3.2rem;
    }
    &__heading {
      margin-bottom: 2.4rem;
    }
    &__number {
      margin-bottom: 0.8rem;
      font: 600 4rem/1 $f-text;
      text-transform: uppercase;
    }
    &__bottom {
      margin-top: 2.4rem;
      display: flex;
      align-items: center;
    }
    &__desc {
      font: 700 1.6rem/1.55 $f-text;
      letter-spacing: 0.12px;
      opacity: 0.6;
    }
    &__lottie {
      margin-left: 1.6rem;
      flex-shrink: 0;
    }
  }
  .contact-form {
    &__cards {
      @include mq(tablet, max) {
        margin-bottom: 2.4rem;
      }
    }
    &__cards__item {
      padding: 1.6rem;
      width: calc((100% - 1.6rem) / 3);
      height: auto;
      background-color: $clr-white;
      @include mq(tablet) {
        padding: 2.4rem;
        width: calc((100% - 4rem) / 3);
      }
      .item-eyebrow {
        margin-bottom: 2.4rem;
        opacity: 0.6;
      }
      .item-content {
        font-size: 3.2rem;
        line-height: 1;
        @include mq(tablet) {
          font-size: 4rem;
        }
      }
      .item-sub_title {
        margin-top: 1.6rem;
        opacity: 0.6;
        @include mq(tablet, max) {
          font-size: 8px;
          line-height: 1.5;
        }
      }
      &__rating {
        margin-top: 1.6rem;
      }
      &.money {
        .item-content {
          font: 700 2rem/1.2 $f-text;
          text-transform: uppercase;
          text-align: center;
          color: $clr-green;
          letter-spacing: 0;
          @include mq(tablet) {
            font-size: 2.2rem;
          }
        }
        .item-sub_title {
          text-align: center;
        }
      }
    }
    &__form {
      max-width: 100%;
      @include mq(tablet, max) {
        margin-top: 6.4rem;
      }
      .gform_button {
        padding: 1.6rem 3.2rem;
        width: 100%;
        background-image: none;
        text-align: center;
      }
    }
  }
  &-reviews {
    margin-top: 3.2rem;
    @include mq(desktop) {
      margin-top: 6.4rem;
    }
    .testimonial-slider__item {
      display: flex;
      padding: 3.2rem;
      background-color: $clr-navy;
      flex-direction: column;
      justify-content: space-between;
      &__content {
        opacity: 0.8;
      }
    }
    .slick-track {
      display: flex;
    }
    .slick-slide {
      height: inherit;
    }
    .slick-arrow {
      width: 2.4rem;
      height: 2.4rem;
      top: 50%;
      border-radius: 50%;
      z-index: 1;
      @include mq(desktop-wide) {
        width: 3.2rem;
        height: 3.2rem;
      }
      &::before {
        content: none;
      }
    }
    .slick-prev {
      left: 0;
      transform: translate(-50%, -50%);
      @include svg-background('<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="%23AEDF82"/><path d="M17 12L13 16L17 20" stroke="%230A1631" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    .slick-next {
      right: 0;
      transform: translate(50%, -50%);
      @include svg-background('<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="%23AEDF82"/><path d="M15 12L19 16L15 20" stroke="%230A1631" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    .rplg {
      &-rating {
        display: none !important;
        // display: flex;
        margin-bottom: 16px;
        align-items: center;
        justify-content: space-between;
        @include mq(phablet) {
          padding-left: 24px;
          padding-right: 24px;
        }
        h6 {
          margin-bottom: 8px;
          font: 700 1.6rem/1.55 'Open Sans', sans-serif;
          letter-spacing: 0.16px;
        }
        &__google {
          margin-bottom: 5px;
          width: 7.5rem;
          height: 2.4rem;
          background: url('../img/icon-google.png') no-repeat center; 
          background-size: contain; 
        }
        &__stars {
          font-size: 1.2rem;
          line-height: 1.55;
          font-family: 'Open Sans', sans-serif;
          color: #2E2E2E;
          span {
            color: #698053;
          }
        }
      }
    }
  }
  &-mobile {
    margin-bottom: 2.4rem;
    &__lottie {
      display: block;
      @include mq(tablet, max) {
        margin-bottom: 4rem;
        text-align: center;
      }
      lottie-player {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__heading {
      margin-bottom: 2.4rem;
      text-align: center;
    }
    .video-player {
      margin-bottom: 2.4rem;
    }
    &__link {
      display: block;
      margin-bottom: 8px;
      font: 700 1.3rem/1.55 $f-text;
      letter-spacing: 0.13px;
      text-decoration: underline;
      text-decoration-line: 0.3px;
      color: $clr-black;
    }
    &__copy {
      margin-bottom: 3.2rem;
      font: 400 1.3rem/1.55 $f-text;
      letter-spacing: 0.13px;
      color: $clr-black;
    }
    &__cta {
      margin-bottom: 2.4rem;
    }
    .btn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .cards-slider {
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
    &__subheading {
      margin-bottom: 1.6rem;
    }
    &__bottom {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .btn-arrow {
      appearance: none;
      background: transparent;
      border: none;
    }
    .btn-prev {
      margin-right: 2.4rem;
    }
  }
}

// Custom style for A/B Testing
.page-contact:not(.injury-claim) {
  .contact {
    &-mobile {
      &__bg,
      &__subheading {
        display: none;
      }
      &-img {
        display: block;
        margin-bottom: 3rem;
        text-align: center;
        lottie-player {
          margin: 0 auto;
        }
      }
      &__dynamic-img {
        display: none;
      }
    }
    .contact-dynamic-banners {
      display: none;
    }
    .contact-dynamic-content {
      display: none;
    }
  }
}
.injury-claim {
  @include mq(tablet, max) {
    .header:not(.is-opened):not(.header--sticky) {
      position: fixed;
      .header-main {
        background-color: transparent;
      }
      .hamburger,
      .header-phone {
        display: none;
      }
      .header-logo img {
        filter: brightness(0) invert(1);
        width: 16rem !important;
      }
    }
    .awards,
    .map {
      display: none;
    }
  }
  .contact {
    @include mq(tablet, max) {
      padding-top: 0;
      &-left {
        display: flex;
        flex-direction: column;
        .contact-form__form {
          display: block;
          order: 2;
          margin: 4rem 0 10rem;
          &__sub_heading {
            text-align: center;
          }
        }
      }
      &-content {
        order: 1;
      }
      &-faqs {
        margin-bottom: 2.4rem;
        padding: 0;
        background-color: transparent;
        border: none;
        order: 2;
        &__heading {
          margin-bottom: 2.4rem;
          font: 700 1.2rem/1.5 $f-text;
          letter-spacing: 2.4px;
          text-transform: uppercase;
          text-transform: uppercase;
        }
        &__bottom {
          display: none;
        }
      }
      &-faq {
        margin-bottom: 1rem;
        border: 1px solid $clr-border;
        border-radius: 1rem;
        &__question {
          padding: 2.4rem 2.4rem 2.4rem 6.4rem;
          font: 700 1.4rem/1.2 $f-text;
          &::before,
          &::after {
            left: 2.4rem;
            right: auto;
          }
        }
        &__answer {
          padding: 0 2.4rem 2.4rem;
        }
      }
      .cards-slider {
        display: none;
      }
    }
    &-mobile {
      position: relative;
      margin: 0 -2rem 2rem;
      padding: 11rem 2rem 1.5rem;
      min-height: 53.5rem;
      color: $clr-white;
      &::before {
        @include pseudo-elements;
        background: linear-gradient(0deg, rgba(10, 22, 49, 0.70) 0%, rgba(10, 22, 49, 0.70) 100%);
        z-index: 1;
      }
      &__bg {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        @include cover-image;
      }
      &__inner {
        position: relative;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      &__subheading {
        display: block;
        margin: 1.5rem;
        font: 700 1.2rem/1.5 $f-text;
        letter-spacing: 2.4px;
        text-transform: uppercase;
      }
      &__heading {
        margin-bottom: 2rem;
        font: 400 3rem/1.15 $f-heading;
        letter-spacing: -0.9px;
        span {
          color: $clr-green;
        }
      }
      &__copy {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.55;
        letter-spacing: -0.15px;
        color: $clr-white;
      }
      &__lottie {
        order: 1;
        margin-bottom: 0;
      }
      .video-player,
      .contact-mobile__link,
      .contact-mobile__cta,
      .contact-mobile__btn {
        display: none;
      }
    }
    .contact-dynamic-banners {
      display: block;
      .contact-mobile {
        display: none;
      }
    }
    &-dynamic-content {
      display: none;
      margin-top: 2rem;
      margin-bottom: 4rem;
      @include basic-wysiwig;
      font-size: 12px;
      line-height: 1.1;
      @include mq(tablet) {
        margin-top: 5rem;
        margin-bottom: 0;
        max-width: 38rem;
      }
      a:not([class]) {
        font-weight: 400 !important;
        color: inherit !important;
        text-decoration: underline;
      }
    }
    &-mobile__dynamic-img {
      display: block;
      text-align: center;
      order: 1;
      img,
      lottie-player {
        margin: auto;
      }
    }
  }
}