.contact-form {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &--border {
    .container {
      @include mq(tablet) {
        align-items: flex-start;
      }
    }
  }
  .container {
    display: flex;
    @include mq(tablet) {
      justify-content: space-between;
    }
    @include mq(tablet, max) {
      flex-direction: column;
    }
  }

  &__main {
    @include mq(tablet) {
      margin-right: 2rem;
      max-width: calc(100% - 40rem);
    }
    @include when-inside('.contact-form--border') {
      padding: 3.2rem;
      border-radius: 1.2rem;
      @include mq(tablet) {
        padding: 6.4rem;
        border: 1px solid $clr-border;
      }
    }
  }

  &__cards {
    display: flex;
    align-items: stretch;
    margin-bottom: 8rem;
    flex-wrap: wrap;
    gap: 2rem;

    @include mq(tablet, max) {
      gap: 8px;
    }
    a.contact-form__cards__item {
      &:hover {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3.7rem 2.5rem;
      height: 30rem;
      width: calc((100% - 60px) / 4);
      border-radius: 1rem;
      border: 1px solid $clr-light-gray;
      cursor: pointer;

      @include mq(desktop, max) {
        width: calc((100% - 2rem) / 2);
      }

      @include mq(tablet, max) {
        padding: 2.4rem 0.8rem;
        height: 24rem;
      }

      &__rating {
        margin-top: 1.6rem;
        line-height: 0;
      }

      &:hover {
        .link:after {
          transform: translate(5px, -50%);
        }
      }

      &.review {
        .item-eyebrow {
          opacity: 0.6;
        }

        .item-sub_title {
          opacity: 0.6;
        }
      }

      .item {
        &-eyebrow {
          margin-bottom: auto;
          color: $clr-navy;
          font-size: 1.2rem;
          text-align: center;
          text-transform: uppercase;
        }

        &-award {
          max-width: 9.3rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-badge {
          margin-bottom: auto;
          text-align: center;
          text-transform: uppercase;
        }

        &-sub_title {
          font-size: 1.2rem;
          text-transform: uppercase;
        }

        &-content {
          margin-top: auto;
          margin-bottom: auto;
          line-height: 8rem;
          font-family: $f-heading;
          font-weight: 400;
          font-size: 6rem;

          @include mq(tablet, max) {
            font-size: 4.2rem;
            line-height: 5.2rem;
          }
          ul, ol {
            clear: both;
          }
        }
      }

      &__cta {
        margin-top: auto;
      }
    }
  }

  &__content {
    &__sub_heading {
      margin-bottom: 3rem;

      @include mq(tablet, max) {
        margin-bottom: 2.4rem;
      }
    }

    &__heading {
      margin-bottom: 3rem;

      @include mq(tablet, max) {
        margin-bottom: 2.4rem;
      }
    }

    &__content {
      @include basic-wysiwig();

      h5 {
        font-weight: 400;
        font-family: $f-text;
        font-size: 2.2rem;
        line-height: 3.5rem;
        color: $clr-black;
        letter-spacing: 0;

        @include mq(tablet, max) {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
      }
      hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 3.2rem;
    background-color: $clr-navy;
    border-radius: 1rem;

    @include mq(tablet) {
      padding: 6rem 3.2rem;
      max-width: 38rem;
      min-width: 30rem;
    }

    @include mq(tablet, max) {
      margin-top: 8rem;
    }
    @include when-inside('.contact-form-alt') {
      padding: 2.3rem 1.6rem;
    }

    &__sub_heading {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: $clr-green;
    }

    &__heading {
      margin-bottom: 1rem;
      color: $clr-white-off;
      font-family: $f-text;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.3rem;
      text-align: center;
      
      @include mq(tablet) {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
    }

    &__content {
      margin-bottom: 2rem;
      color: $clr-white-off;
      text-align: center;
    }

    &__logo {
      margin-top: auto;
    }

    &__form {
      margin-bottom: 1.6rem;
      @include when-inside('.contact-form-alt') {
        width: 100%;
        .practice-form-radio {
          &.disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }
        .practice-form-email,
        .practice-form-phone {
          .ginput_container {
            position: relative;
            &::after {
              position: absolute;
              content: '';
              top: 1.7rem;
              right: 2rem;
              width: 2rem;
              height: 2rem;
            }
          }
          input {
            padding-right: 6rem;
          }
        }
        .practice-form-email .ginput_container::after {
          @include svg-background('<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.417 17.0833H6.08366C3.58366 17.0833 1.91699 15.8333 1.91699 12.9167V7.08332C1.91699 4.16666 3.58366 2.91666 6.08366 2.91666H14.417C16.917 2.91666 18.5837 4.16666 18.5837 7.08332V12.9167C18.5837 15.8333 16.917 17.0833 14.417 17.0833Z" stroke="%23AEDF82" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.4163 7.5L11.808 9.58333C10.9497 10.2667 9.54134 10.2667 8.683 9.58333L6.08301 7.5" stroke="%23AEDF82" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
        .practice-form-phone .ginput_container::after {
          @include svg-background('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.763672 15.697C0.763672 16.021 0.835672 16.354 0.988672 16.678C1.14167 17.002 1.33967 17.308 1.60067 17.596C2.04167 18.082 2.52767 18.433 3.07667 18.658C3.61667 18.883 4.20167 19 4.83167 19C5.74967 19 6.73067 18.784 7.76567 18.343C8.80067 17.902 9.83567 17.308 10.8617 16.561C11.8967 15.805 12.8777 14.968 13.8137 14.041C14.7407 13.105 15.5777 12.124 16.3247 11.098C17.0627 10.072 17.6567 9.046 18.0887 8.029C18.5207 7.003 18.7367 6.022 18.7367 5.086C18.7367 4.474 18.6287 3.889 18.4127 3.349C18.1967 2.8 17.8547 2.296 17.3777 1.846C16.8017 1.279 16.1717 1 15.5057 1C15.2537 1 15.0017 1.054 14.7767 1.162C14.5427 1.27 14.3357 1.432 14.1737 1.666L12.0857 4.609C11.9237 4.834 11.8067 5.041 11.7257 5.239C11.6447 5.428 11.5997 5.617 11.5997 5.788C11.5997 6.004 11.6627 6.22 11.7887 6.427C11.9057 6.634 12.0767 6.85 12.2927 7.066L12.9767 7.777C13.0757 7.876 13.1207 7.993 13.1207 8.137C13.1207 8.209 13.1117 8.272 13.0937 8.344C13.0667 8.416 13.0397 8.47 13.0217 8.524C12.8597 8.821 12.5807 9.208 12.1847 9.676C11.7797 10.144 11.3477 10.621 10.8797 11.098C10.3937 11.575 9.92567 12.016 9.44867 12.421C8.98067 12.817 8.59367 13.087 8.28767 13.249C8.24267 13.267 8.18867 13.294 8.12567 13.321C8.05367 13.348 7.98167 13.357 7.90067 13.357C7.74767 13.357 7.63067 13.303 7.53167 13.204L6.84767 12.529C6.62267 12.304 6.40667 12.133 6.19967 12.025C5.99267 11.899 5.78567 11.836 5.56067 11.836C5.38967 11.836 5.20967 11.872 5.01167 11.953C4.81367 12.034 4.60667 12.151 4.38167 12.304L1.40267 14.419C1.16867 14.581 1.00667 14.77 0.907672 14.995C0.817672 15.22 0.763672 15.445 0.763672 15.697Z" stroke="%23AEDF82" stroke-miterlimit="10"/></svg>');
        }
        .gform_validation_error {
          .practice-form-radio,
          .practice-form-name {
            display: none !important;
          }
        }
        .gform_submission_error {
          text-align: center;
          @extend .text-normal;
        }
        .gfield_radio {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: 1.6rem;
        }
        .gchoice {
          input {
            display: none;
          }
          label {
            display: flex;
            padding: 1.3rem 2rem;
            border-radius: 8px;
            border: 0.5px solid rgba(174, 223, 130, 0.60);
            background: rgba(174, 223, 130, 0.10);
            font: 400 1.4rem/1.3 $f-text;
            color: $clr-white;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            i {
              display: block;
              margin-left: 1rem;
              width: 2rem;
              height: 2rem;
            }
            .icon {
              &-email {
                @include svg-background('<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.417 17.0833H6.08366C3.58366 17.0833 1.91699 15.8333 1.91699 12.9167V7.08332C1.91699 4.16666 3.58366 2.91666 6.08366 2.91666H14.417C16.917 2.91666 18.5837 4.16666 18.5837 7.08332V12.9167C18.5837 15.8333 16.917 17.0833 14.417 17.0833Z" stroke="%23AEDF82" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.4163 7.5L11.808 9.58333C10.9497 10.2667 9.54134 10.2667 8.683 9.58333L6.08301 7.5" stroke="%23AEDF82" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              }
              &-phone {
                @include svg-background('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.763672 15.697C0.763672 16.021 0.835672 16.354 0.988672 16.678C1.14167 17.002 1.33967 17.308 1.60067 17.596C2.04167 18.082 2.52767 18.433 3.07667 18.658C3.61667 18.883 4.20167 19 4.83167 19C5.74967 19 6.73067 18.784 7.76567 18.343C8.80067 17.902 9.83567 17.308 10.8617 16.561C11.8967 15.805 12.8777 14.968 13.8137 14.041C14.7407 13.105 15.5777 12.124 16.3247 11.098C17.0627 10.072 17.6567 9.046 18.0887 8.029C18.5207 7.003 18.7367 6.022 18.7367 5.086C18.7367 4.474 18.6287 3.889 18.4127 3.349C18.1967 2.8 17.8547 2.296 17.3777 1.846C16.8017 1.279 16.1717 1 15.5057 1C15.2537 1 15.0017 1.054 14.7767 1.162C14.5427 1.27 14.3357 1.432 14.1737 1.666L12.0857 4.609C11.9237 4.834 11.8067 5.041 11.7257 5.239C11.6447 5.428 11.5997 5.617 11.5997 5.788C11.5997 6.004 11.6627 6.22 11.7887 6.427C11.9057 6.634 12.0767 6.85 12.2927 7.066L12.9767 7.777C13.0757 7.876 13.1207 7.993 13.1207 8.137C13.1207 8.209 13.1117 8.272 13.0937 8.344C13.0667 8.416 13.0397 8.47 13.0217 8.524C12.8597 8.821 12.5807 9.208 12.1847 9.676C11.7797 10.144 11.3477 10.621 10.8797 11.098C10.3937 11.575 9.92567 12.016 9.44867 12.421C8.98067 12.817 8.59367 13.087 8.28767 13.249C8.24267 13.267 8.18867 13.294 8.12567 13.321C8.05367 13.348 7.98167 13.357 7.90067 13.357C7.74767 13.357 7.63067 13.303 7.53167 13.204L6.84767 12.529C6.62267 12.304 6.40667 12.133 6.19967 12.025C5.99267 11.899 5.78567 11.836 5.56067 11.836C5.38967 11.836 5.20967 11.872 5.01167 11.953C4.81367 12.034 4.60667 12.151 4.38167 12.304L1.40267 14.419C1.16867 14.581 1.00667 14.77 0.907672 14.995C0.817672 15.22 0.763672 15.445 0.763672 15.697Z" stroke="%23AEDF82" stroke-miterlimit="10"/></svg>');
              }
            }
          }
        }
      }
    }
  }
  .rplg {
    padding: 1.6rem;
    border-radius: 1.2rem;
    background-color: #E1E6F1;
    &-reviews {
      .slick-track {
        display: flex;
      }
    }
    &-review {
      height: inherit;
      @include mq(phablet) {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
    &-rating {
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      justify-content: space-between;
      @include mq(phablet) {
        padding-left: 24px;
        padding-right: 24px;
      }
      h6 {
        margin-bottom: 8px;
        font: 700 1.6rem/1.55 'Open Sans', sans-serif;
        letter-spacing: 0.16px;
      }
      &__google {
        margin-bottom: 5px;
        width: 7.5rem;
        height: 2.4rem;
        background: url('../img/icon-google.png') no-repeat center; 
        background-size: contain; 
      }
      &__stars {
        font-size: 1.2rem;
        line-height: 1.55;
        font-family: 'Open Sans', sans-serif;
        color: #698053;
        span {
          color: #698053;
        }
      }
    }
  }
  .testimonial-slider__item {
    display: flex;
    padding: 1.6rem;
    background-color: #fff;
    border: 1px solid #fff; 
    flex-direction: column;
    justify-content: space-between;
    @include mq(tablet) {
      padding: 3.2rem;
    }
    &__content {
      margin-bottom: 2rem;
      font: 400 16px/1.6 'Open Sans', sans-serif;
      color: $text-color;
      opacity: 0.8;
      @include max-line(8);
    }
    &__info {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 2rem;
    }
    &__name {
      margin-bottom: 0;
      font: 600 1.6rem/1 'Open Sans', sans-serif;
      color: $text-color;
      text-transform: capitalize;
    }
  }
  .contact-form__content__content .rplg-stars {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  .contact-form__content__content .rplg-stars svg {
    margin-bottom: 0;
  }
  &--only {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $clr-navy;
    @include mq(tablet) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    .contact-form__form {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: 100%;
      @include mq(tablet) {
        max-width: 64.5rem;
        width: 100%;
      }
      &__form {
        width: 100%;
      }
      .gform_button {
        display: block;
        width: 100%;
        padding: 1.6rem 3.2rem;
        background-image: none;
      }
    }
  }

  &__links {
    margin-top: 3rem;
    padding: 1.6rem 1.6rem 4.4rem;
    border-radius: 12px;
    background: rgba(174, 223, 130, 0.40);
    @include mq(tablet) {
      margin-top: 4.4rem;
    }
    &-top {
      margin-bottom: 2rem;
      @include mq(tablet) {
        display: flex;
        margin-bottom: 2.2rem;
        align-items: center;
        justify-content: space-between;
      }
      .underline-link {
        text-transform: capitalize;
        @include mq(tablet) {
          margin-left: 2rem;
          flex-shrink: 0;
        }
      }
    }
    &-heading {
      font: 700 1.6rem/1.55 $f-text;
      letter-spacing: 0.16px;
    }
    ul {
      padding-left: 2rem;
      @include mq(tablet) {
        column-count: 2;
        column-gap: 3rem;
      }
      a {
        font: 700 1.4rem/2 $f-text;
        color: $clr-navy;
        &:hover {
          color: $clr-green;
        }
      }
    }
  }
}