.practice-faqs {
  margin-top: 5rem;
  margin-bottom: 5rem;

  .container {
    @include mq(tablet) {
      display: flex;
    }
  }

  &__info {
    margin-bottom: 2rem;

    @include mq(tablet) {
      flex-shrink: 0;
      margin-right: 2rem;
      margin-bottom: 2.4rem;
      width: 35%;
      min-width: 30rem;
    }
  }

  &__sub_heading {
    margin-bottom: 2.4rem;

    @include mq(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__item {
    margin-bottom: 1rem;
    padding: 2.4rem;
    padding-left: 6.4rem;
    border: 1px solid $clr-light-gray;
    border-radius: 1rem;
    width: 100%;

    @include mq(tablet) {
      padding: 4rem 3rem 4rem 14rem;
    }

    &__heading {
      position: relative;
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: 0;
      cursor: pointer;

      @include mq(tablet) {
        font-size: 2.2rem;
        line-height: 2.6rem;
      }
      .accordion-header__icon {
        position: absolute;
        content: '';
        top: 50%;
        left: -4rem;
        width: 2.4rem;
        height: 2.4rem;
        background: $clr-white-off;
        border-radius: 50%;
        transform: translateY(-50%);
        @include mq(tablet) {
          left: -11rem;
          width: 6rem;
          height: 6rem;
        }
        &:before,
        &:after {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          width: 1rem;
          height: 0;
          border-bottom: 1px solid $clr-green;
          transition: all .3s ease-in-out;
          @include mq(tablet) {
            width: 2.8rem;
          }
        }
  
        &::before {
          transform: translate(-50%, -50%);
        }
  
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &.active .accordion-header__icon::after {
        transform: translate(-50%, -50%);
      }
    }

    &__main {
      width: 100%;
    }

    &__content {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &__cta {
      margin-bottom: 2rem;
    }
  }
}