.practice-areas {
    margin: 5rem 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__main {
        width: 65%;
        @include mq(tablet, max) {
            width: 100%;
        }
    }
    &__sub_heading {
        margin-bottom: 2rem;
    }
    &__heading {
        margin-bottom: 6rem;
        @include mq(tablet) {
            width: 70%;
            margin-bottom: 3rem;
        }
    }
    &__title {
        &__map {
            margin-bottom: 6.4rem;
            @include mq(tablet) {
                display: none;
            }
            img {
                margin: auto;
                width: 60%;
            }
        }
    }
    &__items {
        display: grid;
        margin-left: 10rem;
        margin-bottom: 6.4rem;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3.8rem;
        @include mq(tablet) {
            margin-bottom: 4rem;
        }
        @include mq(tablet, max) {
            display: flex;
            margin-left: 0;
        }
    }
    &__item {
        padding-left: 2rem;
        border-left: 1px solid $clr-green;
        letter-spacing: 0;
        white-space: nowrap;
        &__area {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
            letter-spacing: 0;
        }
    }
    &__map {
        width: 25%;
        @include mq(tablet, max) {
            display: none;
        }
        .area-map {
            width: 100%;
            object-fit: cover;
        }
    }
}