.section-archive {
  .container {
    @include mq(tablet) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__sidebar {
    @include mq(tablet) {
      position: sticky;
      top: calc(var(--header-height) + 1rem);
      margin-right: 4rem;
      flex: 0 0 31.2rem;
    }
    &__widget {
      margin-bottom: 1.6rem;
      background-color: $clr-white;
      border: 1px solid $clr-border;
      border-radius: 1rem;
      .accordion-header {
        position: relative;
        padding: 1.2rem 3.8rem 1.2rem 1.6rem;
        font: 700 1.5rem/1.5 $f-text;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        @include mq(tablet, max) {
          &.active {
            border-bottom: 1px solid $clr-border;
          }
        }
        @include mq(tablet) {
          padding: 2.4rem 5.4rem 2.4rem 3.2rem;
        }
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          right: 1.6rem;
          width: 1.2rem;
          height: 2rem;
          transform: translateY(-50%);
          transition: transform .3s ease-in-out;
          will-change: transform;
          @include svg-background('<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.46094 6.03906L0.960938 1.53906C0.65625 1.25781 0.65625 0.765625 0.960938 0.484375C1.24219 0.179688 1.73438 0.179688 2.01562 0.484375L6 4.44531L9.96094 0.484375C10.2422 0.179688 10.7344 0.179688 11.0156 0.484375C11.3203 0.765625 11.3203 1.25781 11.0156 1.53906L6.51562 6.03906C6.23438 6.34375 5.74219 6.34375 5.46094 6.03906Z" fill="%230A1631"/></svg>');
        }
        &.active::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .accordion-body {
        @include mq(tablet, max) {
          padding: 2.4rem 1.6rem 2.4rem 3.2rem;
        }
        @include mq(tablet) {
          padding-left: 3.2rem;
          padding-bottom: 2.4rem;
        }
      }
    }
  }
  &__filter__btn {
    display: block;
    width: 100%;
    padding: 8px 1.6rem;
    appearance: none;
    background-color: transparent;
    border: none;
    border-right: 2px solid transparent;
    font: 400 1.2rem/1.6 $f-text;
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &.is-active,
    &:hover {
      background: rgba(174, 223, 130, 0.4);
      border-right-color: $clr-green;
    }
    @include mq(tablet, max) {
      padding-left: 2.2rem;
      border-left: 1px solid $clr-green;
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__search {
    display: block;
    margin-bottom: 1.6rem;
    width: 100%;
    padding: 1.25rem 4rem 1.25rem 1.6rem;
    border: 1px solid $clr-border;
    font: 400 1.6rem/1.55 $f-text;
    letter-spacing: 0.01em;
    @include svg-background('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="7" stroke="%2378BE38" stroke-width="2"/><path d="M20 20L17 17" stroke="%2378BE38" stroke-width="2" stroke-linecap="round"/></svg>');
    background-position: center right 1.6rem;
    border-radius: 4px;

    &::placeholder {
      color: rgba($clr-black, 0.5);
    }
    &:focus,
    &:focus-visible {
      border-color: $clr-green;
      outline: none;
    }
  }
  .lds-wrapper {
    margin-block: 3rem;
    text-align: center;
  }
}