.testimonial-slider {
    padding: 9rem 0 12.3rem;
    background-color: $clr-navy;
    @include mq(tablet, max) {
        padding: 8rem 0 13.6rem;
    }
    &__items,
    .rplg-reviews {
        .slick-track {
            display: flex;
        }
        .slick-slide {
            height: inherit !important;
        }
        .slick-arrow {
            top: calc(100% + 4.4rem);
            left: 50%;
            background-color: transparent;
            &::before {
                left: 0;
                top: 0;
                background-color: transparent;
                color: transparent;
                @include svg-background('<svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8089 8.44618L11.7609 15.7913C11.6335 15.9583 11.4212 16 11.2514 16C11.0816 16 10.9117 15.9583 10.7844 15.8331C10.4872 15.5827 10.4872 15.1653 10.7419 14.9149L16.686 8.65485H0.67933C0.297207 8.65485 0 8.36271 0 8.02884C0 7.69497 0.297207 7.31937 0.67933 7.31937H16.686L10.7419 1.10103C10.4872 0.850628 10.4872 0.433289 10.7844 0.182887C11.0816 -0.0675162 11.5061 -0.0675162 11.7609 0.22462L18.8089 7.56977C19.0637 7.82017 19.0637 8.19578 18.8089 8.44618Z" fill="%2378BE38"/></svg>');
            }
            &.slick-next {
                left: calc(50% + 3rem);
                @include mq(tablet) {
                    transform: scale(1.7);
                }
            }
            &.slick-prev {
                left: calc(50% - 3rem);
                transform: scale(-1) translateY( 50%);
                @include mq(tablet) {
                    transform: scale(-1.7);
                }
            }
        }
    }
    .rplg-review {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        width: 100%;
        @include mq(tablet) {
            margin-left: 1rem;
            margin-right: 1rem;
            max-width: 42.5rem;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        padding: 6rem;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 1rem;
        @include mq(tablet, max) {
            padding: 4rem 2.4rem;
        }
        &__content {
            margin-bottom: 8rem;
            color: $clr-white;
            opacity: 0.4;
            @include mq(tablet, max) {
                margin-bottom: 2.4rem;
            }
        }
        &__info {
            display: flex;
            justify-content: space-between;
            @include mq(tablet, max) {
                flex-direction: column;
                align-items: center;
            }
        }
        &__name {
            color: $clr-white;
            letter-spacing: 0;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.6rem;
            @include mq(tablet, max) {
                margin-bottom: 1.6rem;
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }
    }
}