.testimonials {
  position: relative;
  @include mq(tablet, max) {
    margin-bottom: 5.4rem;
  }
  @include mq(tablet) {
    display: flex;
    align-items: center;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  &-main .rplg-reviews {
    position: relative;
    width: 100%;
    @include mq(tablet, max) {
      padding-left: var(--gutter);
    }
    @include mq(tablet) {
      max-width: vw(1010px) !important;
    }
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: vw(900px);
      height: 100%;
      background: linear-gradient(180deg, #E1F4D0 0%, rgba(225, 244, 208, 0) 100%);
      z-index: -1;
      @include mq(desktop-small, max) {
        width: calc(100% - 11rem);
      }
      @include mq(tablet, max) {
        top: 7.7rem;
        width: 100%;
        height: calc(100% - 7.7rem);
        background: linear-gradient(180deg, #E1F4D0 0%, rgba(225, 244, 208, 0) 100%);
      }
    }
  }
  &-next {
    max-width: vw(590px);
    width: 100%;
    @include mq(desktop-small, max) {
      display: none;
    }
  }
}
.testimonial {
  &-card {
    margin-right: 1.5rem;
    width: 30rem;
    &__img {
      margin-bottom: 2.4rem;
      height: 41rem;
      border-radius: 1rem;
      overflow: hidden;
      @extend .object-cover;
    }
    &__content {
      margin-bottom: 3.2rem;
      font: 400 2.4rem/1.1 $f-heading;
      font-style: italic;
      letter-spacing: -0.01em;
      color: $clr-navy;
    }
  }
  &-main {
    &__slide {
      padding-block: 22rem 12.5rem;
      @include mq(tablet, max) {
        margin-left: 1.6rem;
        padding-block: 0;
        max-width: 30rem;
      }
      @include mq(desktop-wide) {
        padding-left: calc( (100vw - var(--max-width)) / 2);
      }
      @include when-inside('.testimonials-next') {
        padding: 0;
      }

      &__content {
        margin-bottom: 3.2rem;
        font: 400 2.4rem/1.1 $f-heading;
        font-style: italic;
        letter-spacing: -0.01em;
        color: $clr-navy;
        @include mq(tablet) {
          margin-bottom: 2.6rem;
          margin-right: 4rem;
          max-width: 51rem;
          font-size: 3.9rem;
          // color: rgba($clr-navy, 0.3);
          // @include when-inside('.slick-current') {
            color: $clr-navy;
          // }
        }
        @include when-inside('.testimonials-next') {
          margin-bottom: 0;
          margin-right: 0;
          font: 400 4rem/1.1 $f-heading;
          font-style: italic;
          letter-spacing: -0.01em;
          color: rgba($clr-navy, 0.3);
          min-width: 64rem;
        }
      }
      &__inner {
        display: flex;
        flex-direction: column-reverse;
        @include mq(tablet) {
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          @include when-inside('.testimonials-next') {
            flex-direction: row-reverse;
          }
        }
      }
      &__img {
        margin-bottom: 2.4rem;
        width: 100%;
        height: 42.2rem;
        border-radius: 1rem;
        overflow: hidden;
        @extend .object-cover;
        @include mq(tablet) {
          margin-bottom: 0;
        }
        @include when-inside('.testimonials-next') {
          margin-right: 5.5rem;
          height: 260px;
          border-radius: 0 1rem 1rem 0;
        }
      }
    }
    &__media {
      flex: 0 0 31rem;
      @include when-inside('.testimonials-next') {
        flex-basis: 18.5rem;
      }
    }
    &__content {
      @include mq(tablet) {
        padding-left: var(--gutter);
      }
      > a {
        @extend .link;
        @include when-inside('.testimonials-next') {
          display: none; 
        }
      }
    }
    &__controls {
      @include mq(tablet) {
        display: flex;
      }
      @include when-inside('.testimonials-next') {
        display: none !important;
      }
    }
  }
}