.archive-attorney {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  @include mq(tablet) {
    background-color: transparent;
    background-image: none;
  }
  .container {
    position: relative;
    display: flex;
    @include mq(tablet, max) {
      flex-direction: column-reverse;
    }
  }
  &__video {
    border-radius: 1rem;
    overflow: hidden;
    @include mq(tablet, max) {
      margin-bottom: 2.4rem;
    }
    @include mq(tablet) {
      flex-grow: 1;
    }
  }
  &__content {
    @include mq(tablet) {
      margin-right: 5rem;
      flex: 0 0 50%;
      padding-top: 7.4rem;
      padding-bottom: 7.4rem;
    }
    @include mq(desktop) {
      margin-right: 14rem;
      flex-basis: 49.8rem;
    }
  }
  &__links {
    @include mq(tablet, max) {
      order: -1;
    }
    @include mq(tablet) {
      position: absolute;
      right: calc(var(--gutter) + 4px);
      bottom: calc(var(--gutter) + 4px);
    }
  }
  &__subheading {
    margin-bottom: 2.4rem;
    color: $clr-green;
    @include mq(tablet) {
      margin-bottom: 2rem;
    }
  }
  &__heading {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 3rem;
    }
    span {
      color: $clr-green;
    }
  }
}

.attorney-cta {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $clr-navy;
  color: $clr-white;
  @include mq(tablet, max) {
    margin-bottom: 2rem;
    text-align: center;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--gutter) * -1);
      width: calc(100% + (var(--gutter) * 2));
      height: 100%;
      background-color: $clr-navy;
      z-index: -1;
    }
  }
  @include mq(tablet) {
    padding: 4rem 6rem;
    grid-column: span 3;
    border-radius: 1.2rem;
  }
  @include mq(desktop-wide) {
    padding: 6.4rem 9.6rem;
  }
  &__img {
    margin: 0 auto 2.4rem;
    max-width: 20rem;
    @include mq(tablet) {
      position: absolute;
      margin-bottom: 0;
      top: 50%;
      right: var(--gutter);
      height: 100%;
      max-width: 95rem;
      transform: translateY(-50%);
    }
  }
  &__heading {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 4.2rem;
    }
  }
  &__content {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 4.2rem;
    }
  }
  &__cta {
    @include mq(tablet, max) {
      display: block;
      text-align: left;
    }
  }
  &__inner {
    @include mq(tablet) {
      max-width: 53.3rem;
    }
  }
}

.section-archive--attorney {
  margin-bottom: 5rem;
  @include mq(tablet, max) {
    padding-top: 2rem;
  }
  @include mq(tablet) {
    margin-bottom: 7rem;
  }
  .container {
    display: block;
  }
  .section-archive__filters {
    @include mq(tablet, max) {
      padding: 0;
      border: none;
    }
  }
}

.attorney-grid {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.4rem;
  }
}

.attorney-filters {
  margin-bottom: 4rem;
  padding: 1.5rem 2rem;
  border: 1px solid $clr-border;
  border-radius: 1rem;
  @include mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-archive__search {
    margin-bottom: 0;
    &-box {
      @include mq(tablet) {
        flex: 0 0 43rem;
      }
    }
  }
}

.attorney-select {
  padding: 1.3rem 3.2rem 1.3rem 1.6rem;
  width: 22rem;
  border: 1px solid $clr-border;
  border-radius: 5px;
  font: 400 1.6rem/1.55 $f-text;
  appearance: none;
  letter-spacing: 0.01em;
  color: $clr-black;
  @include svg-background('<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.46094 6.03906L0.960938 1.53906C0.65625 1.25781 0.65625 0.765625 0.960938 0.484375C1.24219 0.179688 1.73438 0.179688 2.01562 0.484375L6 4.44531L9.96094 0.484375C10.2422 0.179688 10.7344 0.179688 11.0156 0.484375C11.3203 0.765625 11.3203 1.25781 11.0156 1.53906L6.51562 6.03906C6.23438 6.34375 5.74219 6.34375 5.46094 6.03906Z" fill="%230A1631"/></svg>');
  background-position: center right 1.6rem;
  cursor: pointer;
  @include mq(tablet, max) {
    margin-bottom: 1rem;
  }
}

.loop-attorney {
  border-radius: 1rem;
  overflow: hidden;
  @include mq(tablet, max) {
     margin-bottom: 2rem;
  }
  &__inner {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(10, 22, 49, 0.4);
      opacity: 0;
      transition: opacity .3s ease-in-out;
      z-index: 1;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      @include cover-image;
    }
  }
  &__content {
    position: absolute;
    padding-right: 7.4rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    z-index: 2;
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      width: 4rem;
      height: 4rem;
      @include svg-background('<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4097 9H1.40967M17.4097 9L9.40967 1M17.4097 9L9.40967 17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-color: $clr-green;
      border-radius: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: all .3s ease-in-out;
      @include mq(tablet) {
        width: 5rem;
        height: 5rem;
      }
    }
  }
  &__title {
    font: 400 2rem/1.2 $f-heading;
    color: $clr-white;
    @include mq(tablet) {
      font-size: 3rem;
    }
  }
  &__role {
    margin-top: 8px;
    font: 400 1.6rem/1.2 $f-heading;
    color: $clr-white;
    letter-spacing: -0.03em;
    @include mq(tablet) {
      font-size: 2.4rem;
    }
  }
  &:hover {
    .loop-attorney__inner::before {
      opacity: 1;
    }
    .loop-attorney__content::after {
      opacity: 1;
      transform: translate(5px, -50%);
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include mq(tablet, max) {
      margin-bottom: 2rem;
    }
    &--image {
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      @include mq(tablet) {
        grid-column: span 2;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include cover-image;
      }
    }
    
    &:not(.loop-attorney-card--image) {
      position: relative;
      padding: 1.6rem;
      border-radius: 1rem;
      background-image: url('../img/decor-m-card.svg');
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 80%;
      @include mq(tablet, max) {
        padding-top: 10rem;
      }
      @include mq(tablet) {
        padding: 3.2rem;
      }
      &::before {
        position: absolute;
        content: '';
        top: 2rem;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        background: url('../img/icon-arrow-topright.svg') no-repeat center;
        background-size: contain;
      }
    }
    &--community {
      background-color: $clr-green;
    }
    &--firm,
    &--results {
      background-color: $clr-navy;
      color: $clr-white;
      &::before {
        filter: invert(1);
      }
    }
    &__title {
      margin-bottom: 1.2rem;
      @include mq(tablet) {
        margin-bottom: 2.4rem;
      }
    }
  }
}