.page-template-community {
  .community-banner {
    padding-block: 2.4rem 4rem;
    background-color: $clr-white-off;
    @include mq(tablet) {
      padding-block: 9rem 10rem;
    }
    .container {
      @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__left {
      @include mq(tablet) {
        flex-grow: 1;
        max-width: 65rem;
      }
      .breadcrumbs {
        margin-bottom: 1.5rem;
      }
    }
    &__right {
      @include mq(tablet, max) {
        margin-top: 3rem;
      }
      @include mq(tablet) {
        margin-left: 3rem;
        flex: 1 1 50%;
        max-width: 51.5rem;
      }
    }
    h1 {
      text-transform: capitalize;
    }
  }
  .c-content-image {
    padding-block: 4rem;
    background-color: $clr-navy;
    color: $clr-white;
    @include mq(tablet) {
      padding-block: 6.4rem;
    }
    .container {
      @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__img {
      @include cover-image;
      border-radius: 1.2rem;
    }
    &__heading {
      margin-bottom: 2.4rem;
    }
    &__media {
      margin-bottom: 3rem;
      @include mq(tablet) {
        margin-bottom: 0;
        margin-right: 5rem;
        flex-grow: 1;
      }
      @include mq(desktop-wide) {
        margin-right: 7.5rem;
      }
    }
    &__content {
      @include mq(tablet) {
        flex: 0 0 50%;
        max-width: 59rem;
      }
    }
  }
  .community-modules {
    padding-block: 4rem;
    @include mq(tablet) {
      padding-block: 6.4rem;
    }
    .block-heading {
      margin-bottom: 3.2rem;
      @include mq(tablet) {
        font-size: 3.6rem;
        line-height: 1.15;
      }
    }
    > .container {
      @include mq(tablet) {
        display: flex;
        align-items: flex-start;
      }
    }
    &__sidebar {
      position: sticky;
      margin-right: 2rem;
      top: var(--header-height);
      left: 0;
      padding: 2.4rem 0 2.4rem 3.2rem;
      flex: 0 0 31.2rem;
      border: 1px solid $clr-border;
      border-radius: 1.2rem;
      h6 {
        margin-bottom: 2.4rem;
        font: 700 1.5rem/1.5 $f-text;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $clr-navy;
      }
      ul {
        list-style: none;
      }
      a {
        display: block;
        padding: 0.8rem 1.6rem;
        font: 400 1.2rem/1.9rem $f-text;
        color: $clr-navy;
        transition: all .3s ease-in-out;
        border-right: 2px solid transparent;
        &:hover {
          background: rgba(174, 223, 130, 0.4);
          border-right-color: $clr-green;
        }
      }
    }
  }
  .general-block {
    margin-bottom: 8px;
    padding: 3rem;
    border: 1px solid $clr-border;
    border-radius: 1.2rem;
    @include mq(tablet) {
      padding: 4rem;
    }
    @include mq(desktop-wide) {
      padding: 6.4rem;
    }
    &--no-padding {
      padding: 0 0 4rem;
      .general-block__img {
        border-radius: 1.2rem 1.2rem 0 0;
      }
      .general-block__inner {
        padding-inline: 2.4rem;
      }
    }
    &__img {
      display: block;
      margin-bottom: 3.2rem;
      width: 100%;
    }
    &__content {
      margin-bottom: 3.2rem;
      h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 1em;
      }
      ul, ol {
        padding-left: 2rem;
      }
    }
    &__image-links {
      padding-inline: 1.6rem;
      @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));;
        grid-gap: 1rem;
      }
    }
    &__image-link {
      position: relative;
      display: block;
      border-radius: 6px;
      overflow: hidden;
      cursor: pointer;
      @include mq(tablet, max) {
        margin-bottom: 1rem;
      }
      &::before {
        @include pseudo-elements;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.07%, rgba(0, 0, 0, 0.642293) 81.22%, rgba(0, 0, 0, 0.8) 99.95%);
      }
      &:hover svg {
        transform: translateX(5px);
      }
      .link-img {
        @include cover-image;        
      }
      .link-title {
        position: absolute;
        inset-inline: 2.4rem;
        bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font: 600 1.6rem/2.48rem $f-text;
        color: $clr-white;
        @include mq(tablet) {
          inset-inline: 3.2rem;
          bottom: 3.2rem;
        }
        svg {
          margin-left: 1rem;
          transition: transform .3s ease-in-out;
        }
      }
    }
    &__externals {
      margin-top: 2.4rem;
      padding-top: 2.4rem;
      border-top: 1px solid $clr-border;
      @include mq(tablet) {
        display: grid;
        margin-top: 3.2rem;
        padding-top: 3.2rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1.6rem;
      }
    }
    &__external {
      display: block;
      padding-inline: 1.6rem;
      cursor: pointer;
      &:hover {
        .external-image img {
          transform: scale(1.1);
        }
      }
      .external-image {
        display: block;
        margin-bottom: 1.6rem;
        height: 13.5rem;
        border-radius: 8px;
        overflow: hidden;
        img {
          @include cover-image;
          transition: transform .3s ease-in-out;
          will-change: transform;
        }
      }
      .external-content {

      }
    }
  }
  .videos-block {
    margin-block: 3.2rem;
    @include mq(tablet) {
      display: grid;
      margin-block: 6.4rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 1rem;
    }
    .video-player {
      @include mq(tablet, max) {
        margin-bottom: 1rem;
      }
    }
    &--full {
      flex-grow: 1;
      @include mq(tablet) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
  
  .guides-block {
    &-row {
      margin-bottom: 4rem;
      &__heading {
        position: relative;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 100%;
          height: 0;
          transform: translateY(-50%);
          border-bottom: 1px solid $clr-border;
          z-index: -1;
        }
      }
      &__content {
        @include mq(tablet) {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          grid-gap: 1rem;
        }
      }
      &__col {
        display: block;
        border: 1px solid $clr-border;
        border-radius: 8px;
        overflow: hidden;
        @include mq(tablet, max) {
          margin-bottom: 1rem;
        }
        &:hover {
          border-color: $clr-green;
          img {
            transform: scale(1.1);
          }
        }
        img {
          @include cover-image;
          transition: transform .5s ease-in-out;
          will-change: transform;
          border-radius: 8px;
        }
      }
      &__title {
        padding: 4px 1.2rem;
        background-color: $clr-white;
        border: 1px solid $clr-border;
        border-radius: 1rem;
        font: 600 1.2rem/1.86rem $f-text;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $clr-navy;
      }
      &__cta {
        padding-left: 1.6rem;
        font: 400 1.4rem/1.82rem $f-text;
        background-color: $clr-white;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        text-decoration: underline;
        &:hover {
          color: $clr-green;
        }
      }
    }
  }

  .c-footer-cta {
    position: relative;
    padding-block: 10rem;
    @include mq(tablet) {
      padding-block: 15rem;
    }
    @include mq(desktop) {
      padding-block: 23rem;
    }
    &__bg {
      position: absolute;
      inset: 0;
      @include cover-image;
    }
    &__inner {
      position: relative;
      padding: 4rem;
      background-color: $clr-navy;
      border-radius: 1.2rem;
      text-align: center;
    }
    &__heading {
      margin: 0 auto 4rem;
      max-width: 83rem;
      color: $clr-green-light;
      @include mq(tablet) {
        font-size: 4rem;
        line-height: 6.2rem;
        letter-spacing: 0.01em;
      }
    }
    .underline-link {
      color: $clr-white;
    }
  }
  .gallery {
    margin-block: 5rem;
    text-align: center;
    @include mq(tablet) {
      margin-block: 10rem;
    }
    &-heading {
      margin-bottom: 3rem;
      @include mq(tablet) {
        margin-bottom: 6rem;
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 8px;
      @include mq(tablet) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }
    &-image {
      display: block;
      max-height: 22rem;
      border-radius: 6px;
      overflow: hidden;
      img {
        @include cover-image;
        transition: transform .5s ease-in-out;
        will-change: transform;
      }
      &:hover img {
        transform: scale(1.1);
      }
    } 
  }
  .accordions-block {
    padding: 3.2rem;
    border: 1px solid $clr-border;
    border-radius: 1.2rem;
    @include mq(tablet) {
      padding: 6.4rem;
    }
    .accordion {
      border-top: 1px solid $clr-border;
      &-header {
        position: relative;
        padding-block: 1.6rem;
        font: 700 1.8rem/1.2 $f-text;
        @include mq(tablet) {
          font-size: 2.4rem;
        }
        &::before,
        &::after {
          position: absolute;
          content: '';
          width: 1.6rem;
          height: 2px;
          background-color: $clr-green;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          transition: transform .3s ease-in-out;
          will-change: transform;
        }
        &::after {
          transform: translateY(-50%) rotate(90deg);
        }
        &.active::after {
          transform: translateY(-50%);
        }
      }
      &-body {
        padding-bottom: 1.6rem;
      }
      &-copy {
        @include base-typography;
      }
      &-people {
        margin-top: 1.6rem;
        @include mq(phablet) {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: 8px;
        }
        @include mq(desktop) {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }
      .person-card {
        padding: 2rem;
        border: 1px solid $clr-border;
        border-radius: 1.2rem;
        text-align: center;
        @include mq(tablet, max) {
          margin-bottom: 1rem;
        }
        @include mq(tablet) {
          padding: 4rem;
        }
        &__img {
          display: block;
          margin: 0 auto 1.6rem;
          width: 6.4rem;
          height: 6.4rem;
          border-radius: 50%;
          object-fit: cover;
        }
        &__name {
          margin-bottom: 4px;
          font: 600 1.6rem/2.7rem $f-text;
        }
        &__info {
          position: relative;
          margin-bottom: 8px;
          padding-bottom: 8px;
          font: 400 1.2rem/1.8rem $f-text;
          letter-spacing: 0.01em;
          &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            @include svg-background('<svg width="198" height="2" viewBox="0 0 198 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H197.333" stroke="url(%23paint0_linear_2351_9085)"/><defs><linearGradient id="paint0_linear_2351_9085" x1="197.333" y1="1" x2="0" y2="1" gradientUnits="userSpaceOnUse"><stop stop-color="%2378BE38" stop-opacity="0"/><stop offset="0.501978" stop-color="%2378BE38"/><stop offset="1" stop-color="%2378BE38" stop-opacity="0"/></linearGradient></defs></svg>');
          }
        }
        &__desc {
          font: 600 1.2rem/1.8rem $f-text;
          font-style: italic;
          letter-spacing: 0.01em;
        }
      }
      &-videos {
        @include mq(tablet) {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: 3.2rem 0.8rem;
        }
      }
      &-video {
        &__content {
          margin-top: 8px;
          font: 400 1.6rem/1.2 $f-text;
        }
        &__title {
          margin-bottom: 1.6rem;
        }
      }
      
      .row {
        margin-bottom: 2rem;
        @include mq(tablet) {
          display: grid;
          margin-bottom: 4rem;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: 0.8rem;
        }
      }
      &-main {
        &__video {
          border-radius: 1.2rem;
          overflow: hidden;
        }
        &__gallery {
          border-radius: 1.2rem;
          overflow: hidden;
          .slick-arrow {
            width: 3.2rem;
            height: 3.2rem;
            z-index: 1;
            &::before {
              content: none;
            }
          }
          .slick-prev {
            left: 1.6rem;
            @include svg-background('<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="white"/><path d="M17 12L13 16L17 20" stroke="%230A1631" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
          .slick-next {
            right: 1.6rem;
            @include svg-background('<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="white"/><path d="M15 12L19 16L15 20" stroke="%230A1631" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
      }
    }
  }
}