.error-page {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  @include mq(tablet) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  &__img {
    margin: 0 auto 3.2rem;
    max-width: 100%;
    @include mq(tablet) {
      margin-bottom: 6.4rem;
    }
  }
  &__heading {
    margin-bottom: 3.2rem;
    font: 400 2rem/1.8 $f-text;
    letter-spacing: 0.24px;
    @include mq(tablet) {
      font-size: 2.4rem;
    }
  }
  &__cta {
    padding: 1.6rem 2.4rem;
    &::after {
      content: none;
    }
  }
}