.page-template-faqs {
  --header-background: #EFF2F6;

  .section-archive {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include mq(tablet) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.loop-faq {
  margin-bottom: 0.8rem;
  padding: 2.4rem;
  border: 1px solid $clr-border;
  border-radius: 1.2rem;

  @include mq(tablet) {
    padding: 4rem;
  }
  &__question {
    margin-bottom: 8px;
    font: 700 2.4rem/3.7rem $f-text;
    letter-spacing: -0.03em;
  }
  &__answer {
    margin-bottom: 2.4rem;
    font: 400 1.6rem/2.4rem $f-text;
    letter-spacing: 0.01em;
    @include mq(tablet) {
      margin-bottom: 3.2rem;
    }
  }
  &__meta {
    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__categories {
    margin-left: -2px;
    margin-right: -2px;
    @include mq(tablet) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__cat {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px 1.2rem;
    border: 1px solid $clr-border;
    border-radius: 4px;
    font: 600 1.2rem/1.55 $f-text;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba($clr-navy, 0.4);
  }
  &__link {
    @include mq(tablet, max) {
      margin-top: 1rem;
    }
  }
}