.practice-banner {
  padding: 2.4rem 0 20rem;
  background-color: $clr-white-off;
  background-image: url('../img/decor-m-search.svg');
  background-size: 51.4rem 41.2rem;
  background-position: bottom right -27.4rem;
  background-repeat: no-repeat;
  @include mq(tablet) {
    padding: 8rem 0 18rem; 
    background-position: bottom right -12.7rem;
  }
  .container {
    @include mq(tablet) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__subheading {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-bottom: 1.5rem;
    }
  }
  &__heading {
    margin-bottom: 2.4rem;
    font-size: 5.5rem;
    line-height: 5.225rem;
    @include mq(tablet) {
      margin-bottom: 4.4rem;
      font-size: 8.5rem;
      line-height: 8.075rem;
    }
  }
  &__content {
    @include mq(tablet) {
      margin-right: 2rem;
    }
  }
  &__side {
    padding: 3rem 2rem;
    background-color: $clr-white;
    border: 1px solid $clr-border;
    border-radius: 1rem;
    flex: 0 0 30rem;
    @include mq(desktop) {
      padding: 6rem 5rem;
      flex: 0 0 42rem;
    }
    &__label {
      margin-bottom: 2rem;
      font: 700 1.4rem/1.6 $f-text;
      color: $clr-navy;
    }
  }
  &__links {
    .link:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}